data/
data/names/
venv/
build/
build/lib/miniwizpl/
build/lib/miniwizpl/boilerplate
examples/substring_search/stringlist_search_after_all_test.py
.DS_Store

miniwizpl_test_list_bignumber.cpp
miniwizpl_test_list_correct.cpp
miniwizpl_test_list_wrong.cpp
miniwizpl_test_sub.cpp

__pycache__
*.egg-info

