certifi==2022.9.24
charset-normalizer==2.1.1
Faker==15.3.2
flatbuffers==2.0.7
galois==0.2.0
idna==3.4
importlib-metadata==4.12.0
llvmlite==0.39.1
Mako==1.2.2
Markdown==3.4.1
MarkupSafe==2.1.1
miniwizpl @ file:///usr/src/app
numba==0.56.4
numpy==1.23.3
pdoc3==0.10.0
Pillow==9.2.0
PySNARK @ git+https://github.com/gxavier38/pysnark.git@8a2a571bef430783adf8fe28cb8bb0b0bf8a7c94
python-dateutil==2.8.2
requests==2.28.1
six==1.16.0
torch==1.12.1
torchvision==0.13.1
typing_extensions==4.3.0
urllib3==1.26.12
zipp==3.8.1
